In [ ]:
import numpy as np
import pandas as pd
from numpy.random import randn

<div style="background-color: #FA9884;padding:15px;">
<h1>Creating a Series</h1>
</div>

In [ ]:
labels = ['a', 'b', 'c']
my_list = [11, 22, 33]
arr = np.array([1, 2, 3])
dic = {'a': 10, 'b': 20, 'c': 30}

print('Creating a Series Using Lists')
a = pd.Series(data=my_list, index=labels)
c = pd.Series(my_list, labels)
b = pd.Series(my_list)
print(a)
print(b)
print(c)

In [ ]:
print('Creating a Series NumPy Arrays')
pd.Series(arr)
pd.Series(arr, labels)

In [ ]:
print('Creating a Series Dictionary')
pd.Series(dic)

In [ ]:
ser1 = pd.Series([3, 4, 5], ('USA', 'Canada', 'Germany'))
ser2 = pd.Series([3, 4, 5], ('USA', 'Canada', 'Dubai'))
ser1['USA']
ser1 + ser2

<div style="background-color: #FA9884;padding:15px;">
<h1>DataFrames</h1>
Dataframes will build directly on top of series objects.they are so important when dealing with financial data.
Dataframe is a bunch of series that shares same index</div>

In [ ]:
np.random.seed(101)
df = pd.DataFrame(randn(3, 4), ['A', 'B', 'C'],
                  ['X', 'Y', 'Z', 'W'])  # rand(data for number of row ,number of column),name of rows,name of columns
df  #each columns are serie

<div style="background-color: #FFE5CA; padding:20px">
<h3>DIFFERENT WAYS TO CALL A COLUMN FROM DATAFRAME</h3><br/>
Notice Second Way Is Tricky Bcs Of It Is The Same As Calling A Method For Dataframe So Choosing The Right Name For The Columns Is Soimportant
</div>

In [ ]:
df['X']

In [ ]:
df.X

In [ ]:
type(df['X'])

In [ ]:
type(df)

In [ ]:
df[['X', 'Y']]

<div style="background-color: #FFE5CA; padding:20px">CREATE NEW COLUMNS

In [ ]:
df['new'] = df['X'] + df['Y']
df['new']

In [ ]:
df

<div style="background-color: #FFE5CA; padding:20px">DELETING A COLUMN (temporary from dataframe)

In [ ]:
df.drop('A')
df.drop('new', axis=1)

<div style="background-color: #FFE5CA; padding:20px">DELETING A COLUMN (permanatly from dataframe)

In [ ]:
df

In [ ]:
df.drop('new', axis=1, inplace=True)

In [ ]:
df

<div style="background-color: #FFDCAE; padding:20px">NUMBER OF COLUMNS AND Rows IN DATAFRAME

In [ ]:
df.shape

<div style="background-color: #86C8BC; padding:20px">
<h1>SELECTING ROWS</h3>
we use method for this

name choosing row

In [ ]:
df.loc['A']

 index choosing row

In [ ]:
df.iloc[0]

<div style="background-color: #86C8BC; padding:20px">SELECT SPECIFIC ELEMENT IN DATFAFRAME

In [ ]:
df.loc['A', 'X']

In [ ]:
df.loc[['A', 'C'], ['X', 'W']]

<div style="background-color: #FFE5CA; padding:20px">CONDITIONAL SELECTIONS

In [ ]:
df > 0

In [ ]:
df[df > 0]

In [ ]:
df[df['W'] > 0]  # this is wrong => df['w'>0]

<div style="background-color: #FFE5CA; padding:20px">condition in another condition SELECTING

In [ ]:
df

In [ ]:
resultdf = df[df['W'] > 0]
resultdf

In [ ]:
resultdf['Y']

In [ ]:
# in a shorter form it will be like this
df[df['W'] > 0]['Y']

<div style="background-color: #FFE5CA; padding:20px">COMBINATION OF 2 CONDITIONS

In [ ]:
df

In [ ]:
df[(df['W'] > 0) & (df['X'] < 0)]

In [ ]:
df[(df['W'] > 0) & (df['Y'] > 0)]

In [ ]:
df[(df['W'] > 0) | (df['Y'] > 0)]

<div style="background-color: #FFDCAE; padding:20px">
<h1>>2 USEFUL TIP</h1>
1 = ASSIGN A SHORTCUT ->     file > setting > keymap >search 'clear output'<br/>
2 = QUICKLY CREATE LIST FROM A STRING ->     'ca fr us'.split()</div>

<div style="background-color: #FFE5CA; padding:20px"> WORKING WITH INDEX

In [92]:
df.reset_index() #inplace=True make it permanent

  level_0  level_1         A         B
0      G1        1  0.188695 -0.758872
1      G1        2 -0.933237  0.955057
2      G1        3  0.190794  1.978757
3      G2        1  2.605967  0.683509
4      G2        2  0.302665  1.693723
5      G2        3 -1.706086 -1.159119

<div style="background-color: #FFE5CA; padding:20px">Create a new custom index

In [77]:
newind = 'ca ny us'.split()
newind

['ca', 'ny', 'us']

In [80]:
df['state']=newind
df

          X         Y         Z         W state
A  2.706850  0.628133  0.907969  0.503826    ca
B  0.651118 -0.319318 -0.848077  0.605965    ny
C -2.018168  0.740122  0.528813 -0.589001    us

In [82]:
df.set_index('state')
df

              X         Y         Z         W
state
ca     2.706850  0.628133  0.907969  0.503826
ny     0.651118 -0.319318 -0.848077  0.605965
us    -2.018168  0.740122  0.528813 -0.589001

<div style="background-color: #86C8BC; padding:20px">
<h1>Multi-Index and Index Hierarchy</h1>
</di>

In [89]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [90]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1  0.188695 -0.758872
   2 -0.933237  0.955057
   3  0.190794  1.978757
G2 1  2.605967  0.683509
   2  0.302665  1.693723
   3 -1.706086 -1.159119