In [ ]:
import numpy as np
import pandas as pd
from numpy.random import randn

<div style="background-color: #C7E9B0;padding:15px;">
<h1>Creating a Series</h1>
</div>

In [ ]:
labels = ['a', 'b', 'c']
my_list = [11, 22, 33]
arr = np.array([1, 2, 3])
dic = {'a': 10, 'b': 20, 'c': 30}

print('Creating a Series Using Lists')
a = pd.Series(data=my_list, index=labels)
c = pd.Series(my_list, labels)
b = pd.Series(my_list)
print(a)
print(b)
print(c)

Creating a Series Using Lists
a    11
b    22
c    33
dtype: int64
0    11
1    22
2    33
dtype: int64
a    11
b    22
c    33
dtype: int64

In [ ]:
print('Creating a Series NumPy Arrays')
pd.Series(arr)
pd.Series(arr, labels)

Creating a Series NumPy Arrays

a    1
b    2
c    3
dtype: int32

In [ ]:
print('Creating a Series Dictionary')
pd.Series(dic)

Creating a Series Dictionary

a    10
b    20
c    30
dtype: int64

Creating a Series Dictionary

a    10
b    20
c    30
dtype: int64

In [ ]:
ser1 = pd.Series([3, 4, 5], ('USA', 'Canada', 'Germany'))
ser2 = pd.Series([3, 4, 5], ('USA', 'Canada', 'Dubai'))
ser1['USA']
ser1 + ser2

Canada     8.0
Dubai      NaN
Germany    NaN
USA        6.0
dtype: float64

Canada     8.0
Dubai      NaN
Germany    NaN
USA        6.0
dtype: float64

<div style="background-color: #C7E9B0;padding:15px;">
<h1>DataFrames</h1>
Dataframes will build directly on top of series objects.they are so important when dealing with financial data.
Dataframe is a bunch of series that shares same index</div>

In [ ]:
np.random.seed(101)
df = pd.DataFrame(randn(3, 4), ['A', 'B', 'C'],
                  ['X', 'Y', 'Z', 'W'])  # rand(data for number of row ,number of column),name of rows,name of columns
df  #each columns are serie

          X         Y         Z         W
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001

          X         Y         Z         W
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001

<div style="background-color: #FFE5CA; padding:20px">
<h3>DIFFERENT WAYS TO CALL A COLUMN FROM DATAFRAME</h3><br/>
Notice Second Way Is Tricky Bcs Of It Is The Same As Calling A Method For Dataframe So Choosing The Right Name For The Columns Is Soimportant
</div>

In [ ]:
df['X']

A    2.706850
B    0.651118
C   -2.018168
Name: X, dtype: float64

A    2.706850
B    0.651118
C   -2.018168
Name: X, dtype: float64

In [ ]:
df.X

A    2.706850
B    0.651118
C   -2.018168
Name: X, dtype: float64

A    2.706850
B    0.651118
C   -2.018168
Name: X, dtype: float64

In [ ]:
type(df['X'])

pandas.core.series.Series

pandas.core.series.Series

In [ ]:
type(df)

pandas.core.frame.DataFrame

pandas.core.frame.DataFrame

In [ ]:
df[['X', 'Y']]

          X         Y
A  2.706850  0.628133
B  0.651118 -0.319318
C -2.018168  0.740122

          X         Y
A  2.706850  0.628133
B  0.651118 -0.319318
C -2.018168  0.740122

<div style="background-color: #FFE5CA; padding:20px">CREATE NEW COLUMNS

In [ ]:
df['new'] = df['X'] + df['Y']
df['new']

A    3.334983
B    0.331800
C   -1.278046
Name: new, dtype: float64

A    3.334983
B    0.331800
C   -1.278046
Name: new, dtype: float64

In [ ]:
df

          X         Y         Z         W       new
A  2.706850  0.628133  0.907969  0.503826  3.334983
B  0.651118 -0.319318 -0.848077  0.605965  0.331800
C -2.018168  0.740122  0.528813 -0.589001 -1.278046

          X         Y         Z         W       new
A  2.706850  0.628133  0.907969  0.503826  3.334983
B  0.651118 -0.319318 -0.848077  0.605965  0.331800
C -2.018168  0.740122  0.528813 -0.589001 -1.278046

<div style="background-color: #FFE5CA; padding:20px">DELETING A COLUMN (temporary from dataframe)

In [ ]:
df.drop('A')
df.drop('new', axis=1)

          X         Y         Z         W
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001

          X         Y         Z         W
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001

<div style="background-color: #FFE5CA; padding:20px">DELETING A COLUMN (permanatly from dataframe)

In [ ]:
df

          X         Y         Z         W       new
A  2.706850  0.628133  0.907969  0.503826  3.334983
B  0.651118 -0.319318 -0.848077  0.605965  0.331800
C -2.018168  0.740122  0.528813 -0.589001 -1.278046

          X         Y         Z         W       new
A  2.706850  0.628133  0.907969  0.503826  3.334983
B  0.651118 -0.319318 -0.848077  0.605965  0.331800
C -2.018168  0.740122  0.528813 -0.589001 -1.278046

In [ ]:
df.drop('new', axis=1, inplace=True)

In [ ]:
df

          X         Y         Z         W
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001

          X         Y         Z         W
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001

<div style="background-color: #eee; padding:20px">NUMBER OF COLUMNS AND Rows IN DATAFRAME

In [379]:
df.shape

(3, 4)

(3, 4)

(6, 4)

<div style="background-color: #FFE5CA; padding:20px">
<h1>SELECTING ROWS</h3>
we use method for this

name choosing row

In [ ]:
df.loc['A']

X    2.706850
Y    0.628133
Z    0.907969
W    0.503826
Name: A, dtype: float64

X    2.706850
Y    0.628133
Z    0.907969
W    0.503826
Name: A, dtype: float64

 index choosing row

In [ ]:
df.iloc[0]

X    2.706850
Y    0.628133
Z    0.907969
W    0.503826
Name: A, dtype: float64

X    2.706850
Y    0.628133
Z    0.907969
W    0.503826
Name: A, dtype: float64

<div style="background-color: #FFE5CA; padding:20px">SELECT SPECIFIC ELEMENT IN DATFAFRAME

In [ ]:
df.loc['A', 'X']

2.706849839399938

2.706849839399938

In [ ]:
df.loc[['A', 'C'], ['X', 'W']]

          X         W
A  2.706850  0.503826
C -2.018168 -0.589001

          X         W
A  2.706850  0.503826
C -2.018168 -0.589001

<div style="background-color: #FFE5CA; padding:20px">CONDITIONAL SELECTIONS

In [ ]:
df > 0

       X      Y      Z      W
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False

       X      Y      Z      W
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False

In [ ]:
df[df > 0]

          X         Y         Z         W
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN

          X         Y         Z         W
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN

In [ ]:
df[df['W'] > 0]  # this is wrong => df['w'>0]

          X         Y         Z         W
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965

          X         Y         Z         W
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965

<div style="background-color: #FFE5CA; padding:20px">condition in another condition SELECTING

In [ ]:
df

          X         Y         Z         W
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001

          X         Y         Z         W
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001

In [ ]:
resultdf = df[df['W'] > 0]
resultdf

          X         Y         Z         W
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965

          X         Y         Z         W
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965

In [ ]:
resultdf['Y']

A    0.628133
B   -0.319318
Name: Y, dtype: float64

A    0.628133
B   -0.319318
Name: Y, dtype: float64

In [ ]:
# in a shorter form it will be like this
df[df['W'] > 0]['Y']

A    0.628133
B   -0.319318
Name: Y, dtype: float64

A    0.628133
B   -0.319318
Name: Y, dtype: float64

<div style="background-color: #FFE5CA; padding:20px">COMBINATION OF 2 CONDITIONS

In [ ]:
df

          X         Y         Z         W
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001

          X         Y         Z         W
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001

In [ ]:
df[(df['W'] > 0) & (df['X'] < 0)]

Empty DataFrame
Columns: [X, Y, Z, W]
Index: []

Empty DataFrame
Columns: [X, Y, Z, W]
Index: []

In [ ]:
df[(df['W'] > 0) & (df['Y'] > 0)]

         X         Y         Z         W
A  2.70685  0.628133  0.907969  0.503826

         X         Y         Z         W
A  2.70685  0.628133  0.907969  0.503826

In [ ]:
df[(df['W'] > 0) | (df['Y'] > 0)]

          X         Y         Z         W
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001

          X         Y         Z         W
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001

<div style="background-color: #eee; padding:20px">
<h1>>2 USEFUL TIP</h1>
1 = ASSIGN A SHORTCUT ->     file > setting > keymap >search 'clear output'<br/>
2 = QUICKLY CREATE LIST FROM A STRING ->     'ca fr us'.split()</div>

<div style="background-color: #FFE5CA; padding:20px"> WORKING WITH INDEX

In [ ]:
df.reset_index()  #inplace=True make it permanent

  index         X         Y         Z         W
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001

  index         X         Y         Z         W
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001

<div style="background-color: #FFE5CA; padding:20px">Create a new custom index

In [ ]:
newind = 'ca ny us'.split()
newind

['ca', 'ny', 'us']

['ca', 'ny', 'us']

In [ ]:
df['state'] = newind
df

          X         Y         Z         W state
A  2.706850  0.628133  0.907969  0.503826    ca
B  0.651118 -0.319318 -0.848077  0.605965    ny
C -2.018168  0.740122  0.528813 -0.589001    us

          X         Y         Z         W state
A  2.706850  0.628133  0.907969  0.503826    ca
B  0.651118 -0.319318 -0.848077  0.605965    ny
C -2.018168  0.740122  0.528813 -0.589001    us

In [ ]:
df.set_index('state')
df

          X         Y         Z         W state
A  2.706850  0.628133  0.907969  0.503826    ca
B  0.651118 -0.319318 -0.848077  0.605965    ny
C -2.018168  0.740122  0.528813 -0.589001    us

          X         Y         Z         W state
A  2.706850  0.628133  0.907969  0.503826    ca
B  0.651118 -0.319318 -0.848077  0.605965    ny
C -2.018168  0.740122  0.528813 -0.589001    us

<div style="background-color: #FFE5CA; padding:20px">
<h1>Multi-Index and Index Hierarchy</h1>
</di>

In [ ]:
# Index Levels
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [ ]:
 # list(zip(outside, inside))

In [ ]:
df = pd.DataFrame(np.random.randn(6, 2), index=hier_index, columns=['A', 'B'])
df

             A         B
G1 1  0.188695 -0.758872
   2 -0.933237  0.955057
   3  0.190794  1.978757
G2 1  2.605967  0.683509
   2  0.302665  1.693723
   3 -1.706086 -1.159119

             A         B
G1 1  0.188695 -0.758872
   2 -0.933237  0.955057
   3  0.190794  1.978757
G2 1  2.605967  0.683509
   2  0.302665  1.693723
   3 -1.706086 -1.159119

<div style="background-color: #FFE5CA; padding:20px">
selecting from outside index to inside

In [ ]:
df.loc['G1']

          A         B
1  0.188695 -0.758872
2 -0.933237  0.955057
3  0.190794  1.978757

          A         B
1  0.188695 -0.758872
2 -0.933237  0.955057
3  0.190794  1.978757

In [ ]:
df.loc['G1'].loc[1]

A    0.188695
B   -0.758872
Name: 1, dtype: float64

A    0.188695
B   -0.758872
Name: 1, dtype: float64

<div style="background-color: #FFE5CA; padding:20px">
naming outside and inside indexes

In [ ]:
df.index.names

FrozenList([None, None])

FrozenList([None, None])

In [ ]:
df.index.names = ['Grounps', 'Num']
df

                    A         B
Grounps Num
G1      1    0.188695 -0.758872
        2   -0.933237  0.955057
        3    0.190794  1.978757
G2      1    2.605967  0.683509
        2    0.302665  1.693723
        3   -1.706086 -1.159119

                    A         B
Grounps Num
G1      1    0.188695 -0.758872
        2   -0.933237  0.955057
        3    0.190794  1.978757
G2      1    2.605967  0.683509
        2    0.302665  1.693723
        3   -1.706086 -1.159119

<div style="background-color: #FFE5CA; padding:20px">selecting specific elements

In [ ]:
df.loc['G1'].loc[1]['B']

-0.758872056210466

-0.758872056210466

<div style="background-color: #FFE5CA; padding:20px">another way to selecting specific elements just for Multi-Index and Index Hierarchy

In [ ]:
df.xs(1, level='Num')

                A         B
Grounps
G1       0.188695 -0.758872
G2       2.605967  0.683509

                A         B
Grounps
G1       0.188695 -0.758872
G2       2.605967  0.683509

<div style="background-color: #C7E9B0; padding:20px">
<h1>Data Missing in Finantional Analysis </h1>

<div style="background-color: #FFE5CA; padding:20px">
Deleting missing value

In [ ]:
# creating dataframes from dictionaries
dic = {'A': [1, 2, np.nan], 'B': [3, np.nan, np.nan], 'C': [5, 6, 7]}
df = pd.DataFrame(dic)
df

     A    B  C
0  1.0  3.0  5
1  2.0  NaN  6
2  NaN  NaN  7

     A    B  C
0  1.0  3.0  5
1  2.0  NaN  6
2  NaN  NaN  7

In [340]:
df.dropna()

     A    B  C
0  1.0  3.0  5

     A    B  C
0  1.0  3.0  5

In [341]:
# if we have less than 2 value equal to nan
df.dropna(thresh=2)

     A    B  C
0  1.0  3.0  5
1  2.0  NaN  6

     A    B  C
0  1.0  3.0  5
1  2.0  NaN  6

<div style="background-color: #FFE5CA; padding:20px">
Filling the missing value

In [342]:
df.fillna('100')

     A    B  C
0  1.0  3.0  5
1  2.0  100  6
2  100  100  7

     A    B  C
0  1.0  3.0  5
1  2.0  100  6
2  100  100  7

In [343]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

<div style="background-color: #C7E9B0; padding:20px">
<h1>Group By In DataFrames</h1>

In [344]:
data = {'Company': ['GOOG', 'GOOG', 'MSFT', 'MSFT', 'FB', 'FB'],
        'Person': ['Sam', 'Charlie', 'Amy', 'Vanessa', 'Carl', 'Sarah'],
        'Sales': [200, 120, 340, 124, 243, 350]}
df = pd.DataFrame(data)
df

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [345]:
df.groupby('Company').sum()

             Person  Sales
Company
FB        CarlSarah    593
GOOG     SamCharlie    320
MSFT     AmyVanessa    464

             Person  Sales
Company
FB        CarlSarah    593
GOOG     SamCharlie    320
MSFT     AmyVanessa    464

In [346]:
df.groupby('Company').sum().loc['FB']

Person    CarlSarah
Sales           593
Name: FB, dtype: object

Person    CarlSarah
Sales           593
Name: FB, dtype: object

In [347]:
res = df.groupby('Company').sum()
res.loc['FB']

Person    CarlSarah
Sales           593
Name: FB, dtype: object

Person    CarlSarah
Sales           593
Name: FB, dtype: object

In [348]:
df.groupby('Company').count()

         Person  Sales
Company
FB            2      2
GOOG          2      2
MSFT          2      2

         Person  Sales
Company
FB            2      2
GOOG          2      2
MSFT          2      2

In [349]:
df.groupby('Company').describe()

        Sales
        count   mean         std    min     25%    50%     75%    max
Company
FB        2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0
GOOG      2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
MSFT      2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0

        Sales
        count   mean         std    min     25%    50%     75%    max
Company
FB        2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0
GOOG      2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
MSFT      2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0

<div style="background-color: #C7E9B0; padding:20px">
<h1>Merging ,Joining ,Concatenating Dataframes </h1>

In [350]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                   index=[0, 1, 2, 3])
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [351]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                   index=[4, 5, 6, 7])
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [352]:
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                   index=[8, 9, 10, 11])
df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

<div style="background-color: #FFE5CA; padding:20px"><h3>Concatenation</h3><br/>dimensions must be the same<br/>pas a list of dataframe to pd.concat

In [353]:
pd.concat([df1, df2, df3])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

<div style="background-color: #FFE5CA; padding:20px">Merging

In [354]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
left

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [355]:
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})
right

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

In [356]:
pd.merge(left, right)

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [357]:
pd.merge(left, right, how='inner', on='key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [358]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
left

  key1 key2   A   B
0   K0   K0  A0  B0
1   K0   K1  A1  B1
2   K1   K0  A2  B2
3   K2   K1  A3  B3

  key1 key2   A   B
0   K0   K0  A0  B0
1   K0   K1  A1  B1
2   K1   K0  A2  B2
3   K2   K1  A3  B3

In [359]:
right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})
right

  key1 key2   C   D
0   K0   K0  C0  D0
1   K1   K0  C1  D1
2   K1   K0  C2  D2
3   K2   K0  C3  D3

  key1 key2   C   D
0   K0   K0  C0  D0
1   K1   K0  C1  D1
2   K1   K0  C2  D2
3   K2   K0  C3  D3

In [360]:
pd.merge(right, left)

  key1 key2   C   D   A   B
0   K0   K0  C0  D0  A0  B0
1   K1   K0  C1  D1  A2  B2
2   K1   K0  C2  D2  A2  B2

  key1 key2   C   D   A   B
0   K0   K0  C0  D0  A0  B0
1   K1   K0  C1  D1  A2  B2
2   K1   K0  C2  D2  A2  B2

In [361]:
pd.merge(right, left, how='outer', on=['key1', 'key2'])

  key1 key2    C    D    A    B
0   K0   K0   C0   D0   A0   B0
1   K1   K0   C1   D1   A2   B2
2   K1   K0   C2   D2   A2   B2
3   K2   K0   C3   D3  NaN  NaN
4   K0   K1  NaN  NaN   A1   B1
5   K2   K1  NaN  NaN   A3   B3

  key1 key2    C    D    A    B
0   K0   K0   C0   D0   A0   B0
1   K1   K0   C1   D1   A2   B2
2   K1   K0   C2   D2   A2   B2
3   K2   K0   C3   D3  NaN  NaN
4   K0   K1  NaN  NaN   A1   B1
5   K2   K1  NaN  NaN   A3   B3

In [362]:
pd.merge(right, left, how='right', on=['key1', 'key2'])

  key1 key2    C    D   A   B
0   K0   K0   C0   D0  A0  B0
1   K0   K1  NaN  NaN  A1  B1
2   K1   K0   C1   D1  A2  B2
3   K1   K0   C2   D2  A2  B2
4   K2   K1  NaN  NaN  A3  B3

  key1 key2    C    D   A   B
0   K0   K0   C0   D0  A0  B0
1   K0   K1  NaN  NaN  A1  B1
2   K1   K0   C1   D1  A2  B2
3   K1   K0   C2   D2  A2  B2
4   K2   K1  NaN  NaN  A3  B3

***You will have nan value (missing value)***

<div style="background-color: #FFE5CA; padding:20px"><h3>Join</h3><br/> combining 2 df with different indexes instead of keys

***join is like merge except for index -- cancating is like gluing dfs--***

In [363]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                    index=['K0', 'K1', 'K2'])

right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                      'D': ['D0', 'D2', 'D3']},
                     index=['K0', 'K2', 'K3'])
left.join(right)
left.join(right, how='outer')

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

<div style="background-color: #C7E9B0; padding:20px"><h1>Operation</h1>

In [364]:
df = pd.DataFrame({'col1': [1, 2, 3, 4], 'col2': [444, 555, 666, 444], 'col3': ['abc', 'def', 'ghi', 'xyz']})
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

<div style="background-color: #FFE5CA; padding:20px"><h3>Find the UNIQUE value in datafarmes</h3>

In [365]:
df['col2'].unique()

array([444, 555, 666], dtype=int64)

array([444, 555, 666], dtype=int64)

<span style="color: red;">***number of unique values with 2 ways***</span>

In [366]:
len(df['col2'].unique())

3

3

In [367]:
df['col2'].nunique()

3

3

<span style="color: red;">***number of each value in data frames***</span>

In [368]:
df['col2'].value_counts()

col2
444    2
555    1
666    1
Name: count, dtype: int64

col2
444    2
555    1
666    1
Name: count, dtype: int64

<div style="background-color: #FFE5CA; padding:20px"><h3>Method in datafarmes</h3>

In [369]:
def times2(x):
    return x * 2


df['col2'].apply(times2)

0     888
1    1110
2    1332
3     888
Name: col2, dtype: int64

0     888
1    1110
2    1332
3     888
Name: col2, dtype: int64

In [370]:
df['col2'].apply(lambda x: x * 2)

0     888
1    1110
2    1332
3     888
Name: col2, dtype: int64

0     888
1    1110
2    1332
3     888
Name: col2, dtype: int64

In [371]:
df['col3'].apply(len)

0    3
1    3
2    3
3    3
Name: col3, dtype: int64

0    3
1    3
2    3
3    3
Name: col3, dtype: int64

<div style="background-color: #eee; padding:20px">
<h3> LIST OF COLUMNS and index IN DATAFRAME

In [372]:
df.columns

Index(['col1', 'col2', 'col3'], dtype='object')

Index(['col1', 'col2', 'col3'], dtype='object')

In [373]:
df.index

RangeIndex(start=0, stop=4, step=1)

RangeIndex(start=0, stop=4, step=1)

<div style="background-color: #eee; padding:20px">
<h3>SORTING DATAFRAME

In [374]:
df['col2'].sort_values()

0    444
3    444
1    555
2    666
Name: col2, dtype: int64

0    444
3    444
1    555
2    666
Name: col2, dtype: int64

In [375]:
df.sort_values(by='col2')

   col1  col2 col3
0     1   444  abc
3     4   444  xyz
1     2   555  def
2     3   666  ghi

   col1  col2 col3
0     1   444  abc
3     4   444  xyz
1     2   555  def
2     3   666  ghi

In [376]:
df.isnull()

    col1   col2   col3
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False

    col1   col2   col3
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False

<div style = "background-color: #eee; padding:20px" >
<h3>changing dataframe with pivot (multi index out of dataframes and create new table)</h3>
</div>

In [377]:
data = {'A': ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'],
        'B': ['one', 'one', 'two', 'two', 'one', 'one'],
        'C': ['x', 'y', 'x', 'y', 'x', 'y'],
        'D': [1, 3, 2, 5, 4, 1]}

df = pd.DataFrame(data)
df.pivot_table(values='D', index=['A', 'B'], columns=['C'])

C          x    y
A   B
bar one  4.0  1.0
    two  NaN  5.0
foo one  1.0  3.0
    two  2.0  NaN

C          x    y
A   B
bar one  4.0  1.0
    two  NaN  5.0
foo one  1.0  3.0
    two  2.0  NaN

<div style="background-color: #C7E9B0; padding:20px">
<h1>Data Input and Output

In [378]:
pwd  # show the location of jupyter notbook
# data fro importing should be the same location

NameError: name 'pwd' is not defined

NameError: name 'pwd' is not defined

<div style="background-color: #FFE5CA; padding:20px"><h3>***Read from CSV file***

In [ ]:
df = pd.read_csv('D:\\pythonInternship\\finantioal-analaysis\\documentation_file\\Sample.csv')
df

In [ ]:
df.to_csv('my_output.csv')

In [ ]:
pd.read_csv('D:\\pythonInternship\\finantioal-analaysis\\documentation_file\\my_output.csv')

In [ ]:
df.to_csv('my_output_with_indexing_False.csv', index=False)

In [ ]:
pd.read_csv('D:\\pythonInternship\\finantioal-analaysis\\documentation_file\\my_output_with_indexing_False.csv')

<div style="background-color: #FFE5CA; padding:20px"><h3>***Read from Excel file***

In [ ]:
df = pd.read_excel('D:\\pythonInternship\\finantioal-analaysis\\documentation_file\\Excel_Sample.xlsx')
# pd.read_excel('D:\\pythonInternship\\finantioal-analaysis\\documentation_file\\Excel_Sample.xlsx')
# in terminal pip install opennyxl

In [ ]:
df.to_excel('my_excel.xlsx', sheet_name='newsheet')

<div style="background-color: #FFE5CA; padding:20px"><h3>***Read from HTML file***

# first we need to install some libraries
You may need to install htmllib5,lxml, and BeautifulSoup4. In your terminal/command prompt run:

    conda install lxml
    conda install html5lib
    conda install BeautifulSoup4

Then restart Jupyter Notebook.
(or use pip install if you aren't using the Anaconda Distribution)

Pandas can read table tabs off of html. For example:'https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/'

In [ ]:
data = pd.read_html('https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/')

In [ ]:
type(data)

In [ ]:
data[0]

In [ ]:
data[0].head()

<div style="background-color: #FFE5CA; padding:20px"><h3>***Read from SQL file***

pandas is not a good tool to read sql,so we are ganna build a temporary sql engin that will help the memory in order to know how pandas is going to read data from sql.
for each kind of sql you need to install different library

In [ ]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///:memory:')
df = pd.DataFrame({'0': [1, 2, 3], '1': [4, 5, 6], '2': [7, 8, 9]})
df.to_sql('my_table', engine)
sqlrd = pd.read_sql('my_table', con=engine)
sqlrd

<div style="background-color: #C7E9B0; padding:20px">
<h1>Pandas Exercises

** NOTE: ALL TASKS MUST BE DONE IN ONE LINE OF PANDAS CODE. GOT STUCK? NO PROBLEM! CHECK OUT THE SOLUTIONS LECTURE! **

<div style="background-color: #eee; padding:20px"><h3>*** Import pandas and read in the banklist.csv file into a dataframe called banks. ***

In [ ]:
data = pd.read_csv('banklist.csv')

<div style="background-color: #eee; padding:20px"><h3>*** Show the head of the dataframe ***

In [ ]:
data.head()

<div style="background-color: #eee; padding:20px"><h3>*** What are the column names? ***

In [ ]:
data.columns

<div style="background-color: #eee; padding:20px"><h3>*** How many States (ST) are represented in this data set? ***

In [ ]:
len(data['ST'].unique())
data['ST'].nunique()

<div style="background-color: #eee; padding:20px"><h3>*** Get a list or array of all the states in the data set. ***

In [ ]:
data['ST'].unique()
# np.array(data['ST'])

<div style="background-color: #eee; padding:20px"><h3>*** What are the top 5 states with the most failed banks?***

In [ ]:
data.groupby('ST').count().sort_values('Bank Name').tail()

In [ ]:
data.groupby('ST').count().sort_values('Bank Name', ascending=False).iloc[:5]['Bank Name']


<div style="background-color: #eee; padding:20px"><h3>*** What are the Top 5 acquiring institutions? ***

In [ ]:
data.groupby('Acquiring Institution').count().sort_values(by='Bank Name', ascending=False).iloc[:5]['Bank Name']


<div style="background-color: #eee; padding:20px"><h3>*** How many banks has the State Bank of Texas acquired? How many of them were actually in Texas?***

In [ ]:
data[data['Acquiring Institution'] == 'State Bank of Texas']

<div style="background-color: #eee; padding:20px"><h3>*** What is the most common city in California for a bank to fail in?***

In [ ]:
data[data['ST'] == 'CA']  # ->all the banks in california

In [ ]:
data[data['ST'] == 'CA'].groupby('City').count().sort_values(by='Bank Name', ascending=False).head(1)


<div style="background-color: #eee; padding:20px"><h3>*** How many failed banks don't have the word "Bank" in their name?***

In [ ]:
sum(data['Bank Name'].apply(lambda name: 'Bank' not in name))

<div style="background-color: #eee; padding:20px"><h3>***How many bank names start with the letter 's' ? ***

In [ ]:
data['Bank Name'].apply(lambda name: name[0].upper() == 'S').value_counts()
sum(data['Bank Name'].apply(lambda name: name[0].upper() == 'S'))

<div style="background-color: #eee; padding:20px"><h3>***How many CERT values are above 20000 ?***

In [ ]:
sum(data['CERT'] > 20000)

<div style="background-color: #eee; padding:20px"><h3>*** How many bank names consist of just two words? (e.g. "First Bank" , "Bank Georgia" )***

In [ ]:
sum(data['Bank Name'].apply(lambda name: len(name.split()) == 2 ))

<div style="background-color: #eee; padding:20px"><h3>***Bonus: How many banks closed in the year 2008?***

In [ ]:
data.head()

In [ ]:
sum(data['Closing Date'].apply(lambda date: date[-2:] =='08'))

In [ ]:
sum(pd.to_datetime(data['Closing Date']).apply(lambda date:date.year == 2008))